@font-face {
	font-family: "NHaas";
	src: url("../fonts/NHaasGroteskTXPro-55Rg.eot"); /* IE9*/
	src: url("../fonts/NHaasGroteskTXPro-55Rg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/NHaasGroteskTXPro-55Rg.woff2") format("woff2"), /* chrome、firefox */
		url("../fonts/NHaasGroteskTXPro-55Rg.woff") format("woff"), /* chrome、firefox */
		url("../fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		url("../fonts/NHaasGroteskTXPro-55Rg.svg#NHaasGroteskTXPro-55Rg") format("svg"); /* iOS 4.1- */
}


.h1{
	// font-family: "Founders", sans-serif;
	font-family: "NHaas", sans-serif;
	font-size: 12vw;
	// font-size: 210px;
	letter-spacing: -0.03em;
	line-height: 0.9em;
	@include smoothFont;
	font-weight: lighter;

	@include tablet {
		font-size: 10.8vw;
	}
}

.h2{
	// font-family: "Founders", sans-serif;
	font-family: "NHaas", sans-serif;
	font-size: 8vw;
	letter-spacing: -0.03em;
	@include smoothFont;
	font-weight: lighter;

	@include tablet {
		font-size: 6vw;
	}
}

.p1{
	font-family: "NHaas", sans-serif;
	font-size: 5.2vw;
	line-height: 1.5em;

	@include tablet {
		font-size: 2.6vw;
	}
}

.p2{
	font-family: "NHaas", sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	letter-spacing: 0;

	@include tablet {
		font-size: 18px;
	}
}