.home-sections-wrapper{
	.title{
		margin-bottom: 5vw;
	}

	.inner-sections{
		padding-bottom: 15vw;
	}
}

#intro-section{
	@include mobile {
		padding-top: 20vw;
	}

	padding-top: 10vw;

	.description{
		@include mobile {
			margin-top: 10vw;
		}

		margin-top: 5vw;
	}

	.availability{
		@include mobile {
			margin-top: 5vw;
		}
	}

	.cta{
		@include mobile {
			margin-top: 5vw;
		}

		margin-top: 2.5vw;
	}
}


#projects-section{
	.img-holder{
		position: relative;
		width: 100%;

		img{
			position: relative;
			vertical-align: top;
			width: 100%;
		}
	}

	.offset-top{
		margin-top: 5vw;
	}

	.lift-top{
		margin-top: -10vw;
	}
}


#awards-section{
}


#social-section{
	@include mobile {
		padding-bottom: 10vw;
	}

	padding-bottom: 5vw;

	.main-platform{
		@include mobile {
			margin-bottom: 5vw;
		}

		margin-bottom: 2.5vw;
	}
}