extends _templates/layout.jade


block google_metatags
	meta(name='description', content='Page_description')
	meta(name='subject', content='Page_subject')


block og_metatags
	meta(property="og:url" 			content="PLACE_YOUR_URL")
	meta(property="og:title" 		content="PLACE_YOUR_TITLE")
	meta(property="og:description" 	content="PLACE_YOUR_DESCRIPTION")
	meta(property="og:image" 		content="PLACE_YOUR_IMAGE_URL")


block content
	.h1 h1h1h1h1 h1h1h1h1
	.h2 h2h2h2h2 h2h2h2h2

	.p1 p1p1p1p1 p1p1p1p1
	.p2 p2p2p2p2 p2p2p2p2

	h1.h2 Andrew –– Alva
	p.p1 Freelance Creative Developer based in Mexico City, focused on developing brands digital language with web technologies. Available for work: May, 2020.

	h3.h2 Latest Projects

	h2.h1 Madies
		//- span.p2 2020

	h2.h1 Suze LaGasa
		//- span.p2 2019

	h2.h1 Modrn Business
		//- span.p2 2018

	h2.h1 –––
	h2.h2 Other Explorations
