extends _templates/layout.jade


block google_metatags
	meta(name='description', content='Page_description')
	meta(name='subject', content='Page_subject')


block og_metatags
	meta(property="og:url" 			content="PLACE_YOUR_URL")
	meta(property="og:title" 		content="PLACE_YOUR_TITLE")
	meta(property="og:description" 	content="PLACE_YOUR_DESCRIPTION")
	meta(property="og:image" 		content="PLACE_YOUR_IMAGE_URL")


block content
	.home-sections-wrapper
		section#intro-section.inner-sections
			.og-container
				.og-row
					.og-col-9.offset-2
						h1.h1 Andrew

					.og-col-4
						h1.h1 –––

					.og-col-5
						h1.h1  Alva

				.og-row.description
					.og-col-12.offset-2
						p.p1 Freelance Creative Developer based in Mexico City, focused on developing brand's digital language using web technologies.

					.og-col-6.offset-1
						p.p1 Available for work: May, 2020.


				.og-row.cta
					.og-col-12.offset-2
						a.p1(href="mailto:hi@andrew.studio" target="_blank") Say hi.


		section#projects-section.inner-sections
			.og-container
				.og-row.title
					.og-col-9.offset-2
						h3.h2 Latest Projects

				.og-row
					.og-col-22.offset-2
						h2.h1 Madies

					.og-col-6.offset-13
						.img-holder
							img(src="http://www.fillmurray.com/400/600", alt="")
					
					.og-col-10.offset-3
						.img-holder
							img(src="http://www.fillmurray.com/600/400", alt="")

					.og-col-8.offset-2
						.img-holder
							img(src="http://www.fillmurray.com/400/600", alt="")

				
				.og-row
					.og-col-10.offset-14
						h2.h1 
							|Suze 
							br
							|LaGasa

					.og-col-6.offset-2
						.img-holder
							img(src="http://www.fillmurray.com/400/600", alt="")

					.og-col-6.offset-2
						.img-holder
							img(src="http://www.fillmurray.com/600/400", alt="")

					.og-col-6.offset-2
						.img-holder
							img(src="http://www.fillmurray.com/400/600", alt="")


				.og-row
					.og-col-20.offset-4
						h2.h1 
							|Modrn
							br
							|Business

					.og-col-6.offset-2
						.img-holder
							img(src="http://www.fillmurray.com/400/600", alt="")

					.og-col-6.offset-2
						.img-holder
							img(src="http://www.fillmurray.com/600/400", alt="")

					.og-col-6.offset-2
						.img-holder
							img(src="http://www.fillmurray.com/400/600", alt="")


		section#awards-section.inner-sections
			.og-container
				.og-row.title
					.og-col-9.offset-2
						h3.h2 Awwwards

				.og-row
					.og-col-12.offset-2
						p.p1 Site of the Day
					.og-col-6.offset-1
						p.p1 (1)

					.og-col-12.offset-2
						p.p1 Developer Award
					.og-col-6.offset-1
						p.p1 (1)

					.og-col-12.offset-2
						p.p1 Mobile Excellence
					.og-col-6.offset-1
						p.p1 (1)



		
		section#social-section
			.og-container
				.og-row.title
					.og-col-20.offset-2
						h3.h2 Other places to find me

				.og-row.main-platform
					.og-col-10.offset-2
						ul
							li.p1
								a(href="https://www.instagram.com/andrew__alva/" target="_blank" rel="noopener") Instagram
								p.p2 Magic happens here btw, sometimes you'll find behind the scenes and insights. #WebGLMornings is the hot thing right now.

								
				.og-row
					.og-col-10.offset-2
						ul
							li.p1
								a(href="https://twitter.com/andrew__alva" target="_blank" rel="noopener") Twitter
							li.p1
								a(href="https://www.linkedin.com/in/andrewalva/" target="_blank" rel="noopener") LinkedIn
							li.p1
								a(href="https://medium.com/@andrew__alva" target="_blank" rel="noopener") Medium
							li.p1
								a(href="mailto:hi@andrew.studio" target="_blank") Email
					
					.og-col-6.offset-3
						ul
							li.p1
								a(href="https://codepen.io/Andrew__Alva/" target="_blank" rel="noopener") CodePen
							li.p1
								a(href="https://github.com/AndrewAlva" target="_blank" rel="noopener") GitHub
							li.p1
								a(href="https://www.behance.net/AndrewAlva" target="_blank" rel="noopener") Behance
							li.p1
								a(href="https://dribbble.com/AndrewAlva" target="_blank" rel="noopener") Dribbble




